<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product Model</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js.map"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="container-md">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <p><strong>Create Product/Category Model :</strong></p>
                    <form action="/productModel" method="post">
                        <div class="row mb-3">
                            <label for="productName" class="col-sm-2 col-form-label">Product Name</label>
                            <div class="col-sm-10" class="form-control"><input type="text" id="productName" name="productName"></div>
                        </div>
                        <div class="row mb-3">
                            <label for="qtyPerUnit" class="col-sm-2 col-form-label">Qty Per Unit</label>
                            <div class="col-sm-10" class="form-control"><input type="text" id="qtyPerUnit" name="qtyPerUnit"></div>
                        </div>
                        <div class="row mb-3">
                            <label for="unitPrice" class="col-sm-2 col-form-label">Unit Price</label>
                            <div class="col-sm-10" class="form-control"><input type="text" id="unitPrice" name="unitPrice"></div>
                        </div>

                        <div class="row mb-3">
                            <label for="unitInStock" class="col-sm-2 col-form-label">Unit in stock</label>
                            <div class="col-sm-10" class="form-control"><input type="text" id="unitInStock" name="unitInStock"></div>
                        </div>
                        <div class="row mb-3">
                            <label for="discontinued" class="col-sm-2 col-form-label">Discontinued</label>
                            <div class="col-sm-10" class="form-control">

                                <select class="form-select" id="discontinued" name="discontinued" required>
                                    
                                    <option value="yes">yes</option>
                                    <option  value="no">no</option>
                                  </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="categoryId" class="col-sm-2 col-form-label">Category Id</label>
                            <div class="col-sm-10 " class="form-control "><input type="text " id="categoryId" name="categoryId"></div>
                        </div>
                        <div class="col-md-12 text-left"> <button type="submit" class="btn btn-primary">Create</button></div><br>

                    </form>
                    <div class="col-md-12 text-left">
                        <button class="btn btn-danger" onclick=" document.location='/productModel' ">Cancel</button>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>